# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# .bak files
*.bak

# KC-UHC Bot
logs/
config.properties
servers.json
mcServers.json

classes/
*dependency-reduced-pom.xml